html, body{
	background: #8A1C7C;
	font-family: Arial;
	font-size: 16px;
	
}
.clear {clear: both;}
#randomname{
	width: 90%;
	max-width: 1000px;
	background: #81B8EF;
	margin: 30px auto;
}
.mainDetails{
	min-height: 400px;
	border-bottom: 1px solid #04030f;
}
#headshot{
	margin: 20px;
	padding: 20px;
	float: left;
	width: 30%;
}
#name{
	float: right;
	width: 60%;
}
#contactDetailsInfo{
	float: right;
	width: 60%;
}

#mainContent{
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
}
.mainHeaders{
	float: left;
	width: 25%;
}
.mainContents{
	float: right;
	width: 70%;
	border-bottom: 1px solid #04030f;
}
.mainImg{
	width: 90%;
	border-bottom: 1px solid #04030f;
}
.articleGrouping{
	border: 1px solid #04030f;
}
.Learning{
	width: 90%;
}
.Project{
	width: 90%;
	border-bottom: 1px solid #04030f;
}
.Project1{
	width: 90%;
}
#personalityImg{
	padding: auto;
	margin-left: 200px;
	
}
#LearningStylesImg{
	margin-left: 30px;
	
}
#NerdImg{
	padding: auto;
	margin-left: 80px;
	
}

ul{
	font-family: Arial;
	color: #103456;
}
h1{
	font-family: Arial;
	font-size: 3em;
	border-bottom: 1px solid #04030f;
	color: #04030f;
	margin: 10px auto;
}
h2{
	font-family: Arial;
	font-size: 2em;
	border-bottom: 1px solid #04030f;
	color: #04030f;
}
h3{
	font-family: Arial;
	color: #04030f;
}
h4{
	font-family: Arial;
	color: #04030f;
}
p{
	font-family: Arial;
	color: #103456;
}